* text=auto
*.adoc text
*.avsc text
*.bazel text
*.bzl text
*.java text
*.yaml text
*.yml text
BUILD text
WORKSPACE text
*.bat text eol=crlf
*.bin filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
